<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.onboarding.ecomm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Login.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LELO.COM"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:icon">
        <activity android:name=".Main.AddressActivity"></activity>
        <activity android:name=".OrderSummary" />
        <activity
            android:name=".CartActivity"
            android:parentActivityName=".Main.MainActivity" />
        <activity
            android:name=".OrderActivity"
            android:parentActivityName=".Main.MainActivity" />
        <activity
            android:name=".Login.LoginPage"
            android:label="@string/title_activity_login_page"
            android:parentActivityName=".Main.MainActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".Main.CartListActivity"
            android:parentActivityName=".Main.MainActivity" />
        <activity
            android:name=".Main.WelcomeActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".Main.SplashScreenActivity"
            android:theme="@style/AppTheme.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductDetails.ProductPage"
            android:parentActivityName=".Main.MainActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".Search.SearchResultActivity"
            android:parentActivityName=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Main.OrderPageActivity"
            android:parentActivityName=".Main.MainActivity"
            tools:ignore="DuplicateActivity" />
    </application>

</manifest>